* {
  margin: 0;
  padding: 0;

  font-family: 'Inter', sans-serif;
  font-weight: normal;

  box-sizing: border-box;
}

body{
  &.fixed{
    position: fixed;
  }
}

// media mexins

@mixin largeScreen{
  @media screen and (max-width: 1200px){
    @content;
  }
}

@mixin thousandPixel{
  @media screen and (max-width: 1000px){
    @content;
  }
}

@mixin phoneScreen{
  @media screen and (max-width: 576px){
    @content;
  }
}

ul > li{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  outline: none;
  border: none; 
  cursor: pointer;
}

p{
  color: #72787D;
  font-size: 16px;
  line-height: 24px;
}

// headings
h1,h2,h3{
  color: #212B31;
}

h1{
  font-size: 48px;
  line-height: 64px;
  @include thousandPixel{
    font-size: 40px;
    line-height: 52px;
  }
  @include phoneScreen{
    font-size: 30px;
    line-height: 42px;
  }
}

h2{
  font-size: 32px;
  line-height: 48px;
  @include phoneScreen{
    font-size: 24px;
    line-height: 36px;
  }
  
}

h3{
  font-size: 18px;
}

span.yellow-bg{
  display: inline-block;
  font-size: 20px;
  color: #212B31;
  margin-top: 30px;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12px;
    background-color: #FFDD76;
    z-index: -1;
  }
  @include thousandPixel{
    font-size: 18px;
  }
}

.btn-primary{
  background-color: #212B31;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}

.btn-secondary{
  color: #212B31;
  background-color: #fff;
  padding: 13px 25px;
  border: 1px solid #DADEDF;
  border-radius: 4px;
}

.btn-third{
  border: 1px solid #DADEDF;
  border-radius: 4px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);

  color: #fff;
  background-color: transparent;

  padding: 13px 25px;
}

.container{
  width: 80%;
  margin: 0 auto 140px;
  text-align: center;
  @include phoneScreen{
    width: 90%;
  }
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .item{
    flex: 1 0 300px;
    margin-bottom: 30px;
    padding: 10px;
    h3{
      margin: 20px 0 10px;
    }
  }
}

.title{
  p{
    margin-top: 16px;
    font-size: 20px;
    line-height: 32px;
    @include phoneScreen{
      font-size: 16px;
      line-height: 28px;
    }
  }
}

.content{
  margin-top: 160px;
  display: flex;
  flex-wrap: wrap;
  &-item{
    text-align: left;
    flex: 1;
    flex-basis: 50%;
    margin-bottom: 60px;
    @include thousandPixel{
      flex-basis: 100%;
    }
    .title{
      text-align: left;
    }
    img{
      width: 100%;
      object-fit: cover;
      @include thousandPixel{
        width: 70%;
      }
      @include phoneScreen{
        width: 100%;
      }
    }
  }
}


// Header Section

header{
  padding: 40px 2%;

  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &-logo{
      display: flex;
      align-items: center;
      z-index: 10;
      a{
        color: #212B31;
        font-size: 22px;
        margin-left: 10px;
      }
    }
    &-menu{
      display: flex;
      align-items: center;
      @include thousandPixel{
        width: 100%;
        height: 100vh;

        flex-direction: column;
        justify-content: center;
        
        background-color: #FFDD76;
        transition: .5s ease;

        position: absolute;
        top: 0;
        left: -100%;
        
        &.active{
          left: 0;
        }
      }
      li{
        @include thousandPixel{
          padding: 10px 0;
        }
        a{
          font-size: 15px;
          color: #72787D;
          padding-right: 20px;
          &:hover{
            color: #036FC7;
          }
          @include thousandPixel{
            padding: 0;
            color: #fff;
          }
        }
      }
      &-btn{
        font-size: 15px;
        @include largeScreen{
          display: none;
        }
        @include thousandPixel{
          display: block;
        }
      }
    }
    .menu-icon{
      color: #212B31;
      width: 20px;
      display: none;
      z-index: 10;
      @include thousandPixel{
        display: block;
      }
      
    }
  }
}

// Main Section

.main{
  margin-top: 70px;
  text-align: center;
  &-title{
    margin-bottom: 80px;
    &-btns{
      margin-top: 30px;
      .btn1{
        padding: 13px 25px;
        margin-right: 16px;
      }
    }
  }
  img{
    width: 100%;
    object-fit: cover;
  }
  .main-img2{
    width: 80%;
  }
}

// About us Section
.about-us{
  text-align: center;
  &-part1{
    margin-top: 140px;
    img{
      width: 100%;
      object-fit: cover;
      margin-top: 40px;
    }
  }
  &-part2{
    margin: 140px 0;
  }

  .brand-logoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    img{
      flex-basis: 18%;
      padding: 0 10px;
      @include thousandPixel{
        width: 10%;
      }
    }
  }
}

// Product Section
.product{
  .content{
    &-item{
      .title{
        p{
          font-size: 16px;
          line-height: 24px;
        }
      }
      &.third-item{
        @include thousandPixel{
          order: 2;
        }
      }
      &.fourth-item{
        @include thousandPixel{
          order: 1;
        }
      }
      &.fifth-item{
        @include thousandPixel{
          order: 3;
        }
      }
      &.six-item{
        @include thousandPixel{
          order: 4;
        }
      }
    }
  }
}

// Process Section
#process{
  .title{
    p{
      font-size: 20px;
      line-height: 32px;
    }
  }

  .process-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 60px 0 20px;
    .box{
      text-align: left;
      margin-bottom: 40px;

      flex: 1;
      flex-basis: 30%;

      display: flex;
      align-items: flex-start;

      @include thousandPixel{
        flex-basis: 300px;
      }
      img{
        width: 48px;
      }
      &-text{
        margin-left: 10px;
        p{
          margin-top: 10px;
        }
      }
    }
  }
  .process-footer-text{
    font-size: 20px;
    @include thousandPixel{
      font-size: 18px;
    }
  }
}

#safety{
  .title{
    h2{
      position: relative;
      display: inline-block;
      &::after{
        content: url('../images/safety-img1.svg');
        position: absolute;
        top: -20px;
      }
    }
  }
  .row{
    margin: 50px 0 60px;
  }
  .safety-box{
    background-color: #F6F8F9;
    border-radius: 5px;
    padding: 50px 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    @include thousandPixel{
      flex-wrap: wrap;
      justify-content: center;
    }
    h3{
      @include thousandPixel{
        margin: 20px 0;
      }
    }
  }
  .safety-part2{
    background-color: #212B31;
    padding: 100px 0 100px 10%;
    @include phoneScreen{
      padding-left: 5%;
    }
    .content{
      &-item{
        text-align: left;
        h2{
          color: #fff;
        }
        ul{
          padding: 20px;
          margin-top: 50px;
          li{
            list-style-type: disc;
            color: #fff;
            margin-bottom: 20px;
            
            h3{
              color: #fff;
            }
            p{
              margin-top: 10px;
            }
          }
        }
        .btn-third{
          margin-left: 16px;
        }
        &.img-box{
          text-align: right;
        }
      }
    }
    .row{
      text-align: center;
      margin-right: 10%;
      h3{
        color: #fff;
      }
      @include phoneScreen{
        margin-right: 5%;
      }
    }
  }
}

#clients{
  .content{
    align-items: flex-start;
    &-item{
      .clients-img1{
        margin-top: 60px;
        width: 50%;
        @include phoneScreen{
          width: 100%;
        }
      }

      .box{
        display: flex;
        align-items: flex-start;
        
        margin-bottom: 30px;
        padding: 20px;
        .num{
          border: 1px solid #DADEDF;
          background-color: #fff;
          padding: 10px 15px;
        }
        .text{
          margin-left: 30px;
          p{
            margin-top: 10px;
            @include phoneScreen{
              font-size: 14px;
              line-height: 22px;
            }
          }
        }
        .clients-icon{
          width: 48px;
        }
      }

      .btn-primary{
        padding: 13px 25px;
      }

      &.right-side{
        background-color: #F6F8F9;
        border-radius: 5px;
        padding: 60px 80px;
        position: relative;
        @include phoneScreen{
          padding: 60px 20px;
        }
        .client-img6{
          width: 100px;
          position: absolute;
          top: 40px;
          left: 40px;
          
        }
        .client-comment{
          
          h2{
            font-size: 30px;
            @include phoneScreen{
              font-size: 24px;
            }
          }
          .person{
            display: flex;
            margin-top: 30px;
            .client-avatar{
              width: 48px;
              height: 48px;
            }
            .name{
              margin-left: 10px;
              p{
                &:first-child{
                  color: #212B31;
                }
              }
            }
          }
        }
        .dots{
          position: absolute;
          bottom: 20px;
          .indicator{
            display: inline-block;
            width: 8px;
            height: 8px;
            background: rgba(3, 111, 199, 0.2);
            border-radius: 50%;
            cursor: pointer;
          }
        }
  
      }

    }

    &.clients-content2{
      .content-item{
        @include largeScreen{
          flex-basis: 100%;
        }
      }
    }

  }
}

#contact{
  .contact-part1{
    background: url('../images/contact-img1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 120px 50px;
    @include phoneScreen{
      padding: 100px 10px;
    }
    h1{
      margin-bottom: 50px;
    }
    .btn-primary{
      padding: 13px 25px;
      @include phoneScreen{
        margin-bottom: 20px;
      }
    }
  }

  .contact-part2{
    text-align: left;
    margin-top: 200px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-item{
      flex-basis: 200px;
      margin-bottom: 20px;
      .logo{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        img{
          width: 22px;
        }
        h3{
          text-transform: uppercase;
          margin-left: 10px;
          margin-bottom: 0;
        }
      }

      h3{
        font-size: 16px;
        margin-bottom: 20px;
      }
      p{
        font-size: 15px;
        margin: 8px 0;
      }
    }
  }
}

footer{
  .container{
    margin-bottom: 0;
    .line{
      display: block;
      width: 100%;
      height: 1px;
      background-color: #DADEDF;
    }
    .footer-text{
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      p{
        @include thousandPixel{
          flex-basis: 100%;
        }
      }
    }
  }
}